# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

COOKIE_NAME=T6W7NvPdZzQf
JWT_SECRET="saUUiZzm2BPjD@418fsg7QZNP70UYQaFf4#5W2G73RC1dxLSLNDDLc1z2skoZRBcPSbrT7Hip/ZTK82Fnsp6Jg=="
